extends layout

block content
  h1= title

  .container
    .card.p-3.shadow

      form(id='CostumeForm', action="/resource/costumes", method="POST")

        div.form-group
          label.costumeAttr(for='costume_type') Costume type
          input#costume_type(type='text', name='costume_type')

        div.form-group
          label.costumeAttr(for='size') Costume size
          input#size(type='text', name='size')

        div.form-group
          label.costumeAttr(for='cost') Costume cost
          input#cost(type='number', name='cost')

        input.btn.btn-success(type="submit", value="Create")

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();

      fetch("/resource/costumes", {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then(resp => resp.json())
      .then(() => {
        alert("Create succeeded");
        window.location.href = "/costumes";
      })
      .catch(err => {
        alert("Create failed " + err);
      });
    });