extends layout

block content
  h1= title

  - let items = results || [];

  div.container-fluid
    div.row
      each item in items
        div(class="row-sm-2 m-1")

          | Item #{item.costume_type}(#{item.size}) is #{item.cost}

          br

          a(href="/costumes/update?id=" + item._id)
            button.btn.btn-warning Update
          
          a(href="/costumes/delete?id=" + item._id)
            button.btn.btn-danger Delete
          
          a(href="/costumes/detail?id=" + item._id)
            button.btn.btn-info Detail