body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.costumeAttr {
  background-color: aquamarine;
  width: 140px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}